<nav class="menu" tabindex="0">
	<div class="smartphone-menu-trigger"></div>
  <header class="avatar">
		<img src="https://s3.amazonaws.com/uifaces/faces/twitter/kolage/128.jpg" />
    <h2>John D.</h2>
  </header>
	<ul>
    <li href="#" tabindex="1" class="icon-dashboard btn"><span>Dashboard</span></li>
    <li href="#" tabindex="2" class="icon-customers btn"><span>Customers</span></li>
    <li href="#" tabindex="3" class="icon-users  btn"><span>Users</span></li>
    <li href="#" tabindex="4" class="icon-settings btn"><span>Settings</span></li>
  </ul>
  <ul>
    <li [routerLink]="['/login']" routerLinkActive="active" tabindex="5" class="icon-settings btn"><span>LogOut</span></li>
  </ul>
</nav>

<main>
  <div class="helper">
    RESIZE THE WINDOW
		<span>Breakpoints on 900px and 400px</span>
  </div>
</main>