<div class="ing-image" data-aos="fade-up">
  <div class="ing-text col-11 col-s-11">
    <div class="container-fluid">
      <div class="row">
        <h1 class="left">Hijuesubombamadre!</h1>
        <img class="right" src="../../assets/a.jpg" />
      </div>

      <div class="col-lg-12"></div>
      <div class="col-lg-12"></div>

      <div class="row">
        <img class="left" src="../../assets/a.jpg" />
        <h1 class="right" >Hijuesubombamadre!</h1>
      </div>
    </div>
  </div>
</div>
