<app-navbar></app-navbar>
<div class="ing-image">
  <div class="ing-text col-12 col-s-12">
    <!--esto tomare como referencia para las notas de la tarea, con todo e imagen-->
      <div class="container" data-aos="fade-left" data-aos-duration="3000">
          <div class="row align-items-center">
            <img src="../../assets/favicon.png" width="450" height="450" style="position: fixed">
            <div class="col-5">
              <h1 style="text-align: center">Sunday</h1>
              <div class="col-11">
                <h3 style="text-align: center">Esta es una app que te permitira gestionar tus proyectos :)</h3>
              </div>
            </div>
          </div>
        </div>
  </div>
  
</div>
<body>
  

  <div class="container-fluid" data-aos="fade-left" data-aos-duration="3000">
    <div class="row justify-content-center">
      <div class="col-4">
        <h1>bueno que la verga</h1>
        <h3>alaverga me vale verga</h3>
      </div>
      <div class="col-6">
        <img src="../../assets/a.jpg" width="600" height="600" />
      </div>
    </div>
  </div>

  <div class="container-fluid" data-aos="fade-right" data-aos-duration="3000">
    <div class="row justify-content-center">
      <div class="col-6">
        <img src="../../assets/b.jpg" width="600" height="600" />
      </div>
      <div class="col-4">
        <h1>bueno que la verga</h1>
        <h3>alaverga me vale verga</h3>
      </div>
    </div>
  </div>

  <div class="container-fluid" data-aos="fade-left" data-aos-duration="3000">
    <div class="row justify-content-center">
      <div class="col-4">
        <h1>bueno que la verga</h1>
        <h3>alaverga me vale verga</h3>
      </div>
      <div class="col-6">
        <img src="../../assets/c.jpg" width="600" height="600" />
      </div>
    </div>
  </div>

</body>